

<h1> Employeee Home </h1>

<table border="1" style="color: blue;">

    <tr>
        <td>Employee Name</td>
        <td> Employee Department</td>
        <td>Employee Title</td>
        <td>Employee Hired Date</td>
        <td>Action</td>
        <td>Action</td>
    </tr>

    {% for employee in employee %}
        <tr>
            <td>{{employee.name}}</td>
            <td>{{employee.depart}}</td>
            <td>{{employee.title}}</td>
            <td>{{employee.hired}}</td>
            <td><a href="{% url 'update' employee.id %}"> Edit </td></a>
            <td> <a href="{% url 'delete' employee.id %}"> delete </td></td>

        </tr>


    {% endfor %}

</table> <br><br>



<button ><a href="{% url 'create' %}"> Back to Forms </a> </button>